build
dist
*.egg-info
RELEASE-VERSION
steel_bootstrap.*

docs/_templates/*toc.html
docs/_build
docs/netprofiler
docs/netshark
docs/wireshark
docs/appfwk
docs/vmconfig

*~
*.pyc
*.swp
.DS_Store
.idea/
.tox/
