build
dist
*.egg-info
RELEASE-VERSION
steel_bootstrap.*

docs/_templates/*toc.html
docs/_build
docs/appfwk_project
docs/netprofiler
docs/netshark
docs/appresponse
docs/wireshark
docs/appfwk
docs/vmconfig
docs/steelhead
docs/scc
docs/cmdline
docs/Sleepwalker
docs/reschema

*~
*.pyc
*.swp
.DS_Store
.idea/
.tox/
