# TEST RESULTS

## Test - Feb. 2024 - OK

### Goal

- validate update 24.2

### Functional test plan scope

- downloading packets
- running reports for specific Host Groups
- running reports for filtered conversations

### Test environment details

- Linux container
- Python 3.12


## Test - Nov. 2020 - OK

### Goal

- validate recent version of key dependencies

### Functional test plan scope

- downloading packets
- running reports for specific Host Groups
- running reports for filtered conversations

### Test environment details

Linux box with python 3.7, steelscript 2.0 and modules deployed by pip (not confirmed)

- Speficic python lib deployed by pip 

requests == 2.25.0 
urllib3 == 1.26.2
